body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator h1 {
    text-align: center;
}

.calculator div {
    margin-bottom: 10px;
}

.calculator div label {
    font-weight: bold;
}

.calculator div input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculator button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
footer {
    background-color: #424242;
    color: #fff;
    padding: 10px;
    text-align: center;
}